.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.content__header {
  align-items: center;
  background: var(--background-primary);
  border-bottom: 1px solid var(--background-tertiary);
  color: var(--text-normal);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  min-height: 48px;
  line-height: 20px;
  padding: 0 8px;
}

.content__title {
  display: flex;
}

.content__title h3 {
  color: var(--header-primary);
  cursor: default;
  flex: 0 0 auto;
  font-size: 15px;
  white-space: nowrap;
}

.content__header i {
  font-size: 20px;
  margin: 0 10px;
}

.content__title i {
  color: var(--text-muted);
}

.interactive-icon {
  color: var(--interactive-normal);
}

.interactive-icon:hover {
  color: var(--interactive-hover);
  cursor: pointer;
}

.interactive-icon--active {
  color: var(--interactive-active);
}

.interactive-icon--active:hover {
  color: var(--interactive-hover);
  cursor: pointer;
}

.content__chat-area {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.content__textarea {
  background-color: var(--background-primary);
  height: 64px;
  padding: 0 16px;
  flex: 0 0 auto;
}

.content__textarea form {
  display: flex;
  flex: 0;
}

.content__textarea input {
  border: 0;
  border-radius: 8px;
  background-color: var(--channeltextarea-background);
  color: var(--text-normal);
  font-size: 15px;
  height: 44px;
  outline: none;
  padding-left: 14px;
  width: 100%;
}

.content__textarea input::placeholder {
  color: var(--text-muted);
}

.content__textarea button {
  display: none;
}

.tmp {
  display: flex;
  min-height: calc(100vh - 48px);
}