.content__header {
  align-items: center;
  background: var(--background-primary);
  border-bottom: 1px solid var(--background-tertiary);
  color: var(--text-normal);
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  height: 48px;
  line-height: 20px;
  padding: 0 8px;
}

.content__title {
  display: flex;
}

.content__title h3 {
  color: var(--header-primary);
  cursor: default;
  flex: 0 0 auto;
  font-size: 15px;
  white-space: nowrap;
}

.content__header .fa-hashtag {
  color: var(--text-muted);
  font-size: 20px;
  margin: 0 10px;
}

.fa-sign-out-alt {
  color: var(--interactive-normal);
  font-size: 24px;
  margin: 0 8px;
}

.fa-sign-out-alt:hover {
  color: var(--interactive-hover);
}