.messages {
  background-color: var(--background-primary);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden scroll;
  width: 100%;
}

.messages__container {
  margin-top: auto;
}

.messages__header {
  margin: 4px 16px;
}

.messages hr {
  height: 1px;
  background-color: var(--text-muted);
  border: none;
}

.messages h1 {
  color: var(--header-primary);
  margin-top: 12px;
  margin-bottom: 4px;
}

.messages h2 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--channels-default);
}

.message {
  color: var(--text-normal);
  display: flex;
  margin: 8px 0;
  padding: 8px 16px 12px 0;
}

.message:hover {
  background-color: #32353a;
}

.message__avatar {
  display: flex;
  margin: 0 16px 0 16px;
}

.message__avatar .fa-user-circle {
  font-size: 32px;
}

.message__header {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.message__username {
  color: var(--header-primary);
  font-size: 14px;
  font-weight: 500;
  margin-right: 8px;
}

.message__timestamp {
  color: var(--text-muted);
  font-size: 12px;
  font-weight: 400;
}

.message__content {
  font-size: 14px;
}
