.sidebar {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: 100vh;
  min-height: 0;
  width: 240px;
  background: var(--background-secondary);
}

.sidebar__header {
  align-items: center;
  border-bottom: 1px solid var(--background-tertiary);
  display: flex;
  height: 48px;
  padding: 0 16px;
}

.sidebar__header h3 {
  color: var(--header-primary);
  cursor: default;
  flex: 1;
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
}

.sidebar__footer {
  align-items: center;
  background-color: var(--background-secondary-alt);
  display: flex;
  padding: 10px 8px;
}

.sidebar .fa-user-circle {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-right: 12px;
  color: var(--text-muted);
  font-size: 32px;
}

.sidebar__username {
  color: var(--header-primary);
  font-size: 14px;
  font-weight: 600;
}

.sidebar__list {
  flex: 1;
  padding: 8px 0;
}

.channel-list-item {
  border-radius: 4px;
  color: var(--channels-default);
  cursor: default;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  font-size: 15px;
  padding: 6px;
  margin: 2px 6px;
  white-space: nowrap;
}

.channel-list-item:hover {
  background-color: var(--background-modifier-hover);
  color: var(--interactive-normal);
  cursor: pointer;
}

.channel-list-item:hover i {
  color: var(--channels-default);
}

.channel-list-item--active, .channel-list-item--active:hover {
  background-color: var(--background-modifier-selected);
  color: var(--interactive-active);
}

.channel-list-item--active i, .channel-list-item--active:hover i {
  color: var(--channels-default);
}

.channel-list-item__text {
  font-size: 14px;
  font-weight: 500;
  margin: 0 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-list-item .fa-hashtag {
  padding: 2px 3px;
  font-size: 18px;
}