.textarea {
  background-color: var(--background-primary);
  padding: 0 16px 24px 16px;
  flex: 0 0 auto;
}

.textarea form {
  display: flex;
  flex: 0;
}

.textarea input {
  border: 0;
  border-radius: 8px;
  background-color: var(--channeltextarea-background);
  color: var(--text-normal);
  font-size: 15px;
  min-height: 44px;
  outline: none;
  padding-left: 14px;
  width: 100%;
}

.textarea input::placeholder {
  color: var(--text-muted);
}

.textarea button {
  display: none;
}
