.user-list {
  flex: 0 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--background-secondary);
  min-height: calc(100vh - 48px);
  width: 240px;
  padding: 8px 0;
}

.user-list-item {
  border-radius: 4px;
  padding: 6px;
  margin: 2px 6px;
  color: var(--channels-default);
  display: flex;
  align-items: center;
}

.user-list-item .fa-user-circle {
  align-items: center;
  display: flex;
  margin-left: 4px;
  margin-right: 12px;
  color: var(--text-muted);
  font-size: 32px;
}

.user-list-item__text {
  font-size: 14px;
  font-weight: 500;
}

.user-list__header {
  font-size: 13px;
  font-weight: 500;
  margin: 8px 8px 4px 8px;
  padding: 2px 8px;
  color: var(--channels-default);
}